@font-face
  font-family: 'Supermolot-Bold'
  src: url(../fonts/supermolot-bold.woff)

@font-face
  font-family: 'Supermolot-ExtraBold'
  src: url(../fonts/supermolot-extrabold.woff)

@font-face
  font-family: 'Supermolot-ExtraBold-Italic'
  src: url(../fonts/supermolot-extrabold-italic.woff)

@font-face
  font-family: 'Supermolot-DemiBold'
  src: url(../fonts/supermolot-demibold.woff)

@font-face
  font-family: 'Supermolot-Expanded-DemiBold'
  src: url(../fonts/supermolot-expanded-demibold.woff)

@font-face
  font-family: 'RobotoCondensed-Bold'
  src: url(../fonts/roboto-condensed-bold.woff)

@font-face
  font-family: 'DINPro-CondLight'
  src: url(../fonts/DINPro-CondLight.woff)
