@font-face
  font-family: 'DINPro-CondLight'
  src: url(../fonts/DINPro-CondLight.woff)

@font-face
  font-family: 'Avory-black-italic'
  src: url(../fonts/Avory-black-italic.woff)

@font-face
  font-family: 'Avory-extrabold-italic'
  src: url(../fonts/Avory-extrabold-italic.woff)

@font-face
  font-family: 'Avory-semibold'
  src: url(../fonts/Avory-semibold.woff)

@font-face
  font-family: 'Avory-bold'
  src: url(../fonts/Avory-bold.woff)