@import './pages/vars'
@import './pages/mixins'

+breakpoint($max-width: 1700px)
  .land
    &__left
      min-width: 480px
      max-width: 560px
      padding: 55px 20px 55px 60px
    &__canvas
      &-btn
        left: 460px

+breakpoint($max-height: 800px)
  .land
    &__left
      padding: 45px 20px 15px 60px
    &__title
      &-item
        font-size: 52px
        line-height: 52px
    &__subtitle
      font-size: 52px
      line-height: 52px
    &__counter
      margin-top: 25px
    &__btn
      margin-top: 25px