$blue: #000055
$white: #ffffff
$magenta: #FF267E
$green: #3AFFC3
$black: #0A0A0B
$orange: #FF6E00
$reg-btn-text: #2C2C3A
$greay-btn-bg: #E8EBED

$font-legal: DINPro-CondLight, sans-serif
$font-avory-black-italic: Avory-black-italic, sans-serif
$font-avory-extrabold-italic: Avory-extrabold-italic, sans-serif
$font-avory-semibold: Avory-semibold, sans-serif
$font-avory-bold: Avory-bold, sans-serif