$blue: #1A1A23
$white: #ffffff
$magenta: #FF267E
$green-hover: #93ffdf
$green: #2BEEAD
$black: #0A0A0B
$orange: #FF6E00
$reg-btn-text: #2C2C3A
$greay-btn-bg: #E8EBED

$font-legal: 'DINPro-CondLight', sans-serif
$font-supermolot-bold: 'Supermolot-Bold', sans-serif
$font-supermolot-extrabold: 'Supermolot-ExtraBold', sans-serif
$font-supermolot-extrabold-italic: 'Supermolot-ExtraBold-Italic', sans-serif
$font-supermolot-demibold: 'Supermolot-DemiBold', sans-serif
$font-supermolot-expanded-demibold: 'Supermolot-Expanded-DemiBold', sans-serif
$font-roboto-condensed-bold: 'RobotoCondensed-Bold', sans-serif
