.land
    //- a.global-link(href="https://allwinua.com/short-register/")
    .popup(data-popup-container="popup")
    .land__left
        .land__logo
            img(src="./img/logo.png" alt="favbet")
        h2.land__title біжи #[br] у своєму ритмі
        span.land__subtitle за бонусом
        .land__counter 
            .land__counter-number
                .land__counter-number-decor 
                span.land__counter-number-value 0 / 4
            span.land__counter-text Дорога до бонусу
        a.land__btn.btn(href="https://allwinua.com/short-register/") Реєстрація
        ul.license
            li.license__item
                img(src="./img/visa.svg" alt="favbet")
            li.license__item
                img(src="./img/mastercard.svg" alt="favbet")
            li.license__item
                img(src="./img/googlePay.svg" alt="favbet")
            li.license__item
                img(src="./img/applePay.svg" alt="favbet")
            li.license__item
                img(src="./img/coinspaid.svg" alt="favbet")
    .land__canvas
        canvas(data-canvas="chicken")
        button.land__btn.btn(data-popup="popup") грати
    
            
.legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ